APP_NAME=Jagoskill
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_VERSION=2.1
APP_URL=https://jagoskill.com
LOG_CHANNEL=stack
JWT_SECRET=

# Database Settings
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# SMTP Settings
MAIL_DRIVER=smtp
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Jagoskill"

# Queue / Session / Cache
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
CACHE_DRIVER=file

# S3 Storage
MINIO_KEY=
MINIO_SECRET=
MINIO_REGION=
MINIO_BUCKET=
MINIO_ENDPOINT=
